template(name='pollEdit')
  with editPoll
    .container
      .row
        .col-lg-12
          h1.page-header Edit Poll:
          form.form-horizontal(novalidate)
            .form-group
              label.col-sm-2.control-lable(for='title') Title:
              .col-sm-10
                input.form-control(type='text' name='title' value=title)
            .form-group
              label.col-sm-2.control-lable(for='question') Question:
              .col-sm-10
                input.form-control(type='text' name='question' value=question)
            each withIndex answers
              .form-group
                label.col-sm-2.control-lable(for='answer') Answer #{letterIndex}:
                .col-sm-10
                  .input-group
                    input.form-control(type='text' name=name index=index value=value.text)
                    span.input-group-btn
                      button.btn.btn-default.delete-btn(type='button' index=index) -
                      button.btn.btn-default.add-btn(type='button' index=index) +
            .form-group
              .col-sm-offset-2.col-sm-10.text-right
                button.btn.btn-default.cancel-btn(type='button') Cancel
                button.btn.btn-default.ok-btn(type='submit') Ok
    .container
      h3.page-header Preview:
      +pollDisplay