template(name='pollEdit')
  with poll
    .container
      .row
        .col-lg-12
          h1.page-header Edit Poll (#{valid}):
          form.form-horizontal(novalidate)
            .form-group
              label.control-lable(for='title') Title:
              input.form-control(type='text' name='title' value=title)
              p.invalid-text #{invalidText "title"}
            .form-group
              label.control-lable(for='question') Question:
              input.form-control(type='text' name='question' value=question)
              p.invalid-text #{invalidText "question"}
            each answers
              .form-group
                label.control-lable(for='answer') Answer #{ordinalLetter(@index)}:
                .input-group
                  input.form-control(type='text' name="answers.#{@index}.text" index='#{@index}' value=text)
                  span.input-group-btn
                    button.btn.btn-default.delete-btn(type='button' index='#{@index}') -
                    button.btn.btn-default.add-btn(type='button' index='#{@index}') +
                p.invalid-text #{invalidText "answers.#{@index}.text" @index}
            .form-group
              .text-right
                button.btn.btn-default.cancel-btn(type='button') Cancel
                button.btn.btn-default.ok-btn(type='submit') Ok
    .container
      h3.page-header Preview:
      +pollDisplay